.nav-wrapper{
    padding: 0 2rem;
}
.price{
    font-size: 1.5rem;
} 
.cube{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cube h1{
    margin-bottom: 2re;
}
.cube image {
    max-width: 600px;
    height: auto;
}

.cube .price.big{
    font-size: 2rem;
}

.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cube-form{
    margin-bottom: 2rem;
}

.auth{
    padding-top: 1rem; 
}